<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js</title>
</head>
<body>
    
    <!-- Vue tiene el control de este div -->
    <div id="myApp" >

        <h1>Batman frases <small> {{ frase }} </small> </h1> 

        <input
          type="text"
          v-model="frase"
          v-on:keypress.enter="agregarFrase">
        <hr>

        <ul>
        <li v-for=" ({quote, author}, index) in quotes">
           {{ index +1 }} - {{ quote }}
            <blockquote v-if="author" > - {{ author }} </blockquote>

        </li>
        </ul>
    </div>


    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js" ></script>
</body>
</html>